@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    background-color: #000;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.star {
    width: 2px;
    height: 2px;
    background: white;
    position: absolute;
}

main {
    /* RGBA for the hex code of: #1a202c */
    background-color: rgba(26, 32, 44, 0.5);
}
